@charset "utf-8";

html{
    font-size: 62.5%;
  
}

img{
    max-width: 100%;
    height: auto;
}

body{
    color: #222222;
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: #202020;
}

.icon{
    height:60px;
}

p{ line-height: 175%;}

/* Logo */
.logo{  
    width: 20% ;
}
/* Main画像*/
.shashin{
    width: 100%;
    margin : 0 auto;
    position: relative;

}

.title{
    background-image: url(https://gaishihoso.sakura.ne.jp/jscontest2022/jscontest2022/img/top_oilpainting.jpeg);
    background-size:cover;
    height: 400px;
    background-repeat:no-repeat;
}

.title h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 48px;
    font-weight: 900;
    color: white;
    mix-blend-mode: difference;

}


  .title p {
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 16px;
    font-weight: 700;
    color: white;
    }
  



/* end main画像----------- */



/* ナビゲーション------------------------------------*/

.start{
    border-bottom:  solid 1px;
    border-bottom-color: #FFFFFF;
    margin-bottom: 0px;
     }


.nav-inner{

    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
    width: 1200px;
    margin:0 auto;
    vertical-align: center;
    
}



.btn-trigger{
    display: none;
}


.navigation{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    /* color: black; */
    /* justify-content: flex-end; */
    /* align-items: center; */

}

.navigation a{
    /* padding: 20px;  */
    color: black;
    text-decoration: none;
}

.navigation li{ 
    margin-left: 54px;
}


/* about------------------------------------------*/

.container{
    width: 700px;
    margin:auto;

    
}

.midashi{
    height: 3px;
    margin-bottom: 30px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(90deg, #ccc 0%, #ccc 45%, #EC691E 45%, #EC691E 55%, #ccc 55%, #ccc 100%);
}

.section-title{
    font-size: 24px;
    text-align: center;
    font-weight:900;
    margin-bottom: 24px;
    text-transform: uppercase;
    margin-top:60px

}

.container h2{
    color: #202020;
}



.section-name{
    margin-bottom: 20px;
    text-align: center;
    font-size:1.6rem;
    font-weight: 900;
    color: #202020;
}

.section-text{
    text-align: left;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight:700;
    line-height:39px;
}

/* .section-image{
    text-align: center;
    width:100%;
    margin-bottom: 24px;

} */

.img-four{
    display: flex;
    margin-bottom: 60px;
    width:100%;
    justify-content: center;
}


/* end about------------- */

/* Cource test */
#images {
    display: grid;
    width: 1200px;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    background-color: #fafafa;
}
#dt1 {
    grid-row: 1; grid-column: 1;

}
#dd1 {
    grid-row: 1; grid-column: 2;
    margin-left: 50px;
    margin-right: 120px;
}
#dt2 {
    grid-row: 2; grid-column: 2;

}
#dd2 {
    grid-row: 2; grid-column: 1;
    margin-left: 120px;
    margin-right: 50px;
}
#dt3 {
    grid-row: 3; grid-column: 1;

}
#dd3 {
    grid-row: 3; grid-column: 2;
    margin-left: 50px;
    margin-right: 120px;
}

.ddh2{
    font-size: 24px;
    font-weight: 600;
    margin-bottom:40px
}

.ddp{
    font-weight: 700;
}

#dt4 {
    grid-row: 4; grid-column: 2;

}
#dd4 {
    grid-row: 4; grid-column: 1;
    margin-left: 120px;
    margin-right: 50px;
}
/* end course---------*/



/* news -------------------------------------------*/
.section-title{
    color: #202020;

}

.smallimage{
    height: 240px;
    width: 320px;
}

.news{
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
.works-list{
    display: flex;
}
.works-item{
    
    margin-left:32px;
}
.works-item:hover {
    opacity: 0.6;
  }

.works-item img{
    margin-bottom: 32px;

}

.subtitle{
    text-align: left;
    margin-bottom: 24px;
}

.explanation{
    margin-bottom:56px;
    text-align: left;
    font-weight: 700;
}


.aicamera{
    margin-top: 100px;
}

.btn{
    display:block;
    width: 214px;
    padding-top: 21px;
    padding-bottom: 21px;
    margin: auto;
    background-color:#EC691E;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin-bottom: 21px;
    box-shadow: 0 5px 12.5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}
.btn:hover {
    opacity: 0.6;
  }


/* Apply */
.apply{
    background-color: #fafafa;
    padding: 64px 0 64px;
    text-align: center;
}

.applydiv{
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.applyimg{
    height: 450px;
}

.applyh2{
    margin-top: 30px;
    font-size: 24px;
    font-weight: 900;
}

.apply-child{
    margin-top: 50px;
    font-weight: 700;
}
/* end news--------------- */



/*contactここから------------------------------------*/
.contact{
    padding: 64px 0 64px
}


.form-wrapper{
    width: 600px;
    margin: 0 auto;
}

.form-title{
    width: 118px;
    padding-top: 8px;
    margin-right: 96px;
    font-weight: normal;
    text-align: left;
}

.form-title.check-radio{
    padding-top: 20px;
    /* padding:0; */
}

.form-item{
    width: 386px;
    margin-bottom:24px;
    text-align: left;
}

.form-parts{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    box-sizing: border-box;
    width: 100%;
    padding : 8px;
    border: solid 1px #c9c9c9;
    font-size:1.6rem;
}

.form-item3{
    width: 386px;
    margin-bottom: 24px;
    text-align: left;
}

.form-item li{
    margin-bottom: 24px;
}

.form-ul li{
    font-size:1.4rem;
    display: flex;
	align-items: center;
}
.contact-title{
    font-size: 2.4rem;
    margin-bottom:40px; 
    text-align: center;
    font-weight:bold;
    padding-top:80px;
    text-transform: uppercase;
}

.form-inner{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}



input[type*=radio]{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    margin: 0 40px 0 0px;
    border: solid 1px #a0a0a0;
    border-radius: 25%;
    vertical-align: -2px;
    background-color: #a0a0a0;
    /* padding-top:16px; */
}

input[type*=radio]:checked{
    background-color:  #EC691E;

}

.btn-submit{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    border:none; 
    width: 298px;
    height: 54px;
    font-size: 12px;
    padding: 0px;
    margin-bottom:0px;
    
    
}

.con1{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
}

.con2{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
    font-weight:700;
}

.con3{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
}

.selection{
    margin-bottom: 24px;
    font-size: 1.4rem;
    /* padding-top: 16px */
}
/* end contact------------*/

/* footer------------------------------------------- */

.footer{
    padding: 24px 0;
    background-color: #707070;
    text-align: center;
}

.footer .wrapper{
    position: relative;
    
}

.btn-pagetop{
    position: absolute;
     top:-78px;
     right: 0;
     display: block;
     width: 44px;
     height: 44px;
     border-radius: 50%;
     background-color: #707070;
     text-decoration: none;
}

.icon-up{
    display: block;
     padding: 10px 0;
     color: #fff;
     font-size: 2.4rem;
}

.copyrights{
    color: #fff;
    font-size: 1.4rem;
}
/*  end footer-------------------------------------- */
/*  end pc------------------------------------------ */







@media screen and (max-width: 640px){

/* ナビゲーション------------------------------------------------- */

.start{
    border-bottom:  solid 1px;
    border-bottom-color: #efefef;
    margin-bottom: 120px;
    position: fixed;
    top: 0;
    width: 100%;
     }




.nav-inner{

    display: block;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    background-color: white;
    width: 100%;
    margin:0 auto;
    text-align: center;
    
   

}

.nav-inner img{
    width:25%;
    padding-top: 16px;
    /* margin: auto; */
}

.btn-trigger{
    appearance: none;
    -webkit-appearance: none;
    display: block;
    position: fixed;
    top:5px;
    right:12px;
    z-index: 100;
    padding:0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    outline:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 40px;
    

}

.btn-trigger.active use:nth-of-type(1){
    transform: translateY(30px) rotate(-45deg);
}

.btn-trigger.active use:nth-of-type(2){
    opacity: 0;
}

.btn-trigger.active use:nth-of-type(3){
    transform: translateX(35px) translateY(-15px) rotate(45deg);
}




.navigation{
    display: none;
    list-style: none;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(120, 208, 253, 0.8);
    padding: 84px 0 0;
    /* color: black; */
    /* justify-content: flex-end; */
    /* align-items: center; */

}

.navigation a{
    /* padding: 20px;  */
    color: black;
    text-decoration: none;
}

.navigation li{ 
    margin-left: 0px;
    margin: 0 0 60px;
    width: 100%;
    text-align: center;
}

.nav-item>a{
    display:block;
    font-size: 2.1rem;
}




/* end ナビゲーション---------------- */

/* メイン画像---------------------------------------------- */

.eyecatch{
    margin: 64px 0 32px;
}


/* end メイン画像 */

/* about-------------------------------------------------- */

    .profile{
        padding: 32px 0 40px;
    }
    
    .container{
        box-sizing: border-box;
        padding: 0 10px ;
        width: 100%;
    }
    
    .sectino-title{
        padding: 0 0 24px;
    
    }

    .section-name{
        margin-bottom: 24px;

    }

/* end about---------------- */

/* course--------------------------------------------------- */

   .course{
       padding: 40px 0;

   }

   .course-detail{
        display: block;
        align-items: center;

    }

    .course-detail:nth-child(2){
        flex-direction: row;
    
    }
    
    .exp-box:nth-child(2){
        flex-direction: row;
    
    }
    
    .exp-box_container{
        box-sizing: border-box;
        padding: 0 10px ;
        width: 100%;
        max-width: 100%;
        
            /* width: 300px;
            max-width: 100%; */
        margin-left: auto;
        margin-right: auto;
        padding-right: 10px;
        padding-right:10px;
    }

    .exp-box_traditional{
        box-sizing: border-box;
        padding: 0 10px ;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 10px;
        padding-right:10px;

    }
    
    
    .course-detail dt{
        width: 100%;
    }
    
    .course-detail dd{
        width: 100%;
        margin: 0 auto;
        /* margin-right: 50px; */
    
    }
    
    .course-title{
        font-weight: bold;
        font-size: 2.4rem;
        /* margin-left: 48px;
        margin-bottom: 40px; */
        
    }
    
    .course-title{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 40px;
    }
    
    .course-exp{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
    
    .course-exp.hidari{
        max-width: 100%;
    }
    
    
    .contents{
        margin-bottom: 64px;
    }

/* end course------------ */

/* news---------------------------------------------- */
.news{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.works-list{
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    
}
.works-item{
    
    margin-left:auto;
    margin-left:auto;
}

.works-item img{
    margin-bottom: 32px;

}

.date-products{
    box-sizing: border-box;
    padding: 0 10px ;
    text-align: left;
    margin-bottom: 24px;
}

.explanation{
    box-sizing: border-box;
    padding: 0 10px ;
    margin-bottom:56px;
    text-align: left;
}

/* end news-------------------- */
/* access----------------------------------------------- */

.access{
    background-color: #fafafa;
    padding-top: 64px;
    padding-bottom: 80px;
}

.map{
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.access-wrapper{
    width: 408px;
    margin: auto;
    padding-top: 64px;

}



.access-container{
    display: block;
    flex-wrap: wrap;
    width: 408px;
    flex-wrap: wrap;
    margin: 0 0 40px;
    font-size: 1.6rem;
    background-color:#fafafa;

}

.access-container dd{
    text-align: left;
}

.access-title{
    box-sizing: border-box;
    padding: 0 10px ;
    width: 100%;
    max-width: 100%;
    padding: 0 0 12px 10px;
    margin: 0 0 0 0;
    font-weight: normal;
    text-align: left;

}

.access-title.main{
    text-align: left;

}

.access-item{
    box-sizing: border-box;
    padding: 0 10px ;
    max-width: 100%;
    width: 100%;
    padding: 0 0 40px 10px;
    text-align: left;

}

.access-item.address{
text-align: center;
}

.mail{
    padding: 0;
}

/* end access------------------ */

/* contact------------------------------------------------ */

.contact{
    padding: 64px 0 64px
}


.form-wrapper{
    box-sizing: border-box;
    padding: 0 10px ;
    width: 600px;
    margin: 0 auto;
    max-width: 100%;
}

.form-title{
    width: 118px;
    padding-top: 8px;
    margin-right: 96px;
    font-weight: normal;
    text-align: left;
}

.form-title.check-radio{
    padding-top: 20px;
    /* padding:0; */
}

.form-item{
    width: 386px;
    margin-bottom:24px;
    text-align: center;
}

.form-parts{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    box-sizing: border-box;
    width: 100%;
    padding : 8px;
    border: solid 1px #c9c9c9;
    font-size:1.6rem;
    /* margin: 0 10px; */
}

.form-item3{
    width: 386px;
    margin-bottom: 24px;
    text-align: left;
}

.form-item li{
    margin-bottom: 24px;
}

.form-ul li{
    font-size:1.4rem;
    display: flex;
	align-items: center;
}

.contact-title{
    font-size: 2.4rem;
    margin-bottom:40px; 
    text-align: center;
    font-weight:bold;
    padding-top:80px;
    text-transform: uppercase;
}

.form-inner{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

}

.btn-submit{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    border:none; 
    width: 298px;
    height: 54px;
    font-size: 16px;
    padding: 0px;
    margin-bottom:0px;
}

.con1{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 64px;
}

.con2{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

.con3{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
}

.selection{
    margin-bottom: 24px;
    font-size: 1.4rem;
    /* padding-top: 16px */
}

/* end contact------------------ */

/* チェックボックス(https://creative.eccom.jp/941/) */
            
            /* ラジオボタン03 */
            input[type=radio] {
                display: none;
            }
            .radio03 {
                box-sizing: border-box;
                cursor: pointer;
                display: inline-block;
                padding: 5px 30px;
                position: relative;
                width: auto;
            }
            .radio03::before {
                background: #fff;
                border: 1px solid #ccc;
                border-radius: 50%;
                content: '';
                display: block;
                height: 16px;
                left: 5px;
                margin-top: -8px;
                position: absolute;
                top: 50%;
                width: 16px;
            }
            .radio03::after {
                background: #EC691E;
                border-radius: 50%;
                content: '';
                display: block;
                height: 10px;
                left: 9px;
                margin-top: -4px;
                opacity: 0;
                position: absolute;
                top: 50%;
                transform: scale3d(.3,.3,1);
                transition: transform .2s ease-in-out, opacity .2s ease-in-out;
                width: 10px;
            }
            input[type=radio]:checked + .radio03::before {
                border-color: #666;
            }
            input[type=radio]:checked + .radio03::after {
                opacity: 1;
                transform: scale3d(1,1,1);
            }



/* Twitter */
.twitter{
    width:500px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* footer--------------------------------------------------------- */

.footer{
    padding: 20px 0;
   
}

.copyrights{
    font-size:1.2rem;
}

/* end footer------------------- */